# OS
.DS_Store
Thumbs.db

# Build output (手动加常见目录)
build/
bin/
out/
dist/

# Object / libs
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.pdb
*.ilk

# VS
.vs/
Debug/
Release/
x64/
*.sln
*.vcxproj*
*.filters
*.user
*.VC.db
*.VC.opendb

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/

# JetBrains
.idea/
*.iml

# Logs
*.log